In [46]:
# %load ch8-1-2.py
import pandas as pd

s = pd.Series([12, 29, 72, 4, 8, 10])
print(s)

0    12
1    29
2    72
3     4
4     8
5    10
dtype: int64

In [47]:
# %load ch8-1-2a.py
import pandas as pd

fruits = ["蘋果", "橘子", "梨子", "櫻桃"]
quantities = [15, 33, 45, 55]
s = pd.Series(quantities, index=fruits)
print(s)
print("---------------------------")
print(s.index)
print("---------------------------")
print(s.values)

蘋果    15
橘子    33
梨子    45
櫻桃    55
dtype: int64
---------------------------
Index(['蘋果', '橘子', '梨子', '櫻桃'], dtype='object')
---------------------------
[15 33 45 55]

In [48]:
# %load ch8-1-2b.py
import pandas as pd

fruits = ["蘋果", "橘子", "梨子", "櫻桃"]
quantities = [15, 33, 45, 55]
s = pd.Series(quantities, index=fruits)
p = pd.Series([11, 16, 21, 32], index=fruits)
print(s + p)
print("---------------------------")
print("總計=", sum(s + p))

蘋果    26
橘子    49
梨子    66
櫻桃    87
dtype: int64
---------------------------
總計= 228

In [49]:
# %load ch8-1-2c.py
import numpy as np
import pandas as pd

fruits = ["蘋果", "橘子", "梨子", "櫻桃"]
s = pd.Series([15, 33, 45, 55], index=fruits)
print("橘子=", s["橘子"])
print("---------------------------")
print(s[["橘子", "梨子", "櫻桃"]])
print("---------------------------")
print((s+2)*3)
print("---------------------------")
print(s.apply(np.sin))

橘子= 33
---------------------------
橘子    33
梨子    45
櫻桃    55
dtype: int64
---------------------------
蘋果     51
橘子    105
梨子    141
櫻桃    171
dtype: int64
---------------------------
蘋果    0.650288
橘子    0.999912
梨子    0.850904
櫻桃   -0.999755
dtype: float64

In [50]:
# %load ch8-2-1.py
import pandas as pd

dists = {"name": ["中正區", "板橋區", "桃園區", "北屯區",
                  "安南區", "三民區", "大安區", "永和區",
                  "八德區", "前鎮區", "鳳山區",
                  "信義區", "新店區"],
         "population": [159598, 551452, 441287, 275207,
                        192327, 343203, 309835, 222531,
                        198473, 189623, 359125,
                        225561, 302070],
         "city": ["台北市", "新北市", "桃園市", "台中市",
                  "台南市", "高雄市", "台北市", "新北市",
                  "桃園市", "高雄市", "高雄市",
                  "台北市", "新北市"]}
df = pd.DataFrame(dists)
print(df)
df.to_html("ch8-2-1.html")

   name  population city
0   中正區      159598  台北市
1   板橋區      551452  新北市
2   桃園區      441287  桃園市
3   北屯區      275207  台中市
4   安南區      192327  台南市
5   三民區      343203  高雄市
6   大安區      309835  台北市
7   永和區      222531  新北市
8   八德區      198473  桃園市
9   前鎮區      189623  高雄市
10  鳳山區      359125  高雄市
11  信義區      225561  台北市
12  新店區      302070  新北市

In [51]:
# %load ch8-2-1a.py
import pandas as pd

dists = {"name": ["中正區", "板橋區", "桃園區", "北屯區",
                  "安南區", "三民區", "大安區", "永和區",
                  "八德區", "前鎮區", "鳳山區",
                  "信義區", "新店區"],
         "population": [159598, 551452, 441287, 275207,
                        192327, 343203, 309835, 222531,
                        198473, 189623, 359125,
                        225561, 302070],
         "city": ["台北市", "新北市", "桃園市", "台中市",
                  "台南市", "高雄市", "台北市", "新北市",
                  "桃園市", "高雄市", "高雄市",
                  "台北市", "新北市"]}

ordinals = ["first", "second", "third", "fourth", "fifth",
            "sixth", "seventh", "eigth", "ninth", "tenth",
            "eleventh", "twelvth", "thirteenth"]
df = pd.DataFrame(dists, index=ordinals)
print(df)
df.to_html("ch8-2-1a.html")
print("---------------------------")
df2 = pd.DataFrame(dists)
df2.index = ordinals
print(df2)

           name  population city
first       中正區      159598  台北市
second      板橋區      551452  新北市
third       桃園區      441287  桃園市
fourth      北屯區      275207  台中市
fifth       安南區      192327  台南市
sixth       三民區      343203  高雄市
seventh     大安區      309835  台北市
eigth       永和區      222531  新北市
ninth       八德區      198473  桃園市
tenth       前鎮區      189623  高雄市
eleventh    鳳山區      359125  高雄市
twelvth     信義區      225561  台北市
thirteenth  新店區      302070  新北市
---------------------------
           name  population city
first       中正區      159598  台北市
second      板橋區      551452  新北市
third       桃園區      441287  桃園市
fourth      北屯區      275207  台中市
fifth       安南區      192327  台南市
sixth       三民區      343203  高雄市
seventh     大安區      309835  台北市
eigth       永和區      222531  新北市
ninth       八德區      198473  桃園市
tenth       前鎮區      189623  高雄市
eleventh    鳳山區      359125  高雄市
twelvth     信義區      225561  台北市
thirteenth  新店區      302070  新北市

In [52]:
# %load ch8-2-1b.py
import pandas as pd

dists = {"name": ["中正區", "板橋區", "桃園區", "北屯區",
                  "安南區", "三民區", "大安區", "永和區",
                  "八德區", "前鎮區", "鳳山區",
                  "信義區", "新店區"],
         "population": [159598, 551452, 441287, 275207,
                        192327, 343203, 309835, 222531,
                        198473, 189623, 359125,
                        225561, 302070],
         "city": ["台北市", "新北市", "桃園市", "台中市",
                  "台南市", "高雄市", "台北市", "新北市",
                  "桃園市", "高雄市", "高雄市",
                  "台北市", "新北市"]}

ordinals = ["first", "second", "third", "fourth", "fifth",
            "sixth", "seventh", "eigth", "ninth", "tenth",
            "eleventh", "twelvth", "thirteenth"]
df = pd.DataFrame(dists,
                  columns=["name", "city", "population"],
                  index=ordinals)
print(df)
df.to_html("ch8-2-1b.html")
print("---------------------------")
df2 = pd.DataFrame(dists, index=ordinals)
df2.columns = ["name", "city", "population"]
print(df2)

           name city  population
first       中正區  台北市      159598
second      板橋區  新北市      551452
third       桃園區  桃園市      441287
fourth      北屯區  台中市      275207
fifth       安南區  台南市      192327
sixth       三民區  高雄市      343203
seventh     大安區  台北市      309835
eigth       永和區  新北市      222531
ninth       八德區  桃園市      198473
tenth       前鎮區  高雄市      189623
eleventh    鳳山區  高雄市      359125
twelvth     信義區  台北市      225561
thirteenth  新店區  新北市      302070
---------------------------
           name    city population
first       中正區  159598        台北市
second      板橋區  551452        新北市
third       桃園區  441287        桃園市
fourth      北屯區  275207        台中市
fifth       安南區  192327        台南市
sixth       三民區  343203        高雄市
seventh     大安區  309835        台北市
eigth       永和區  222531        新北市
ninth       八德區  198473        桃園市
tenth       前鎮區  189623        高雄市
eleventh    鳳山區  359125        高雄市
twelvth     信義區  225561        台北市
thirteenth  新店區  302070        新北市

In [53]:
# %load ch8-2-1c.py
import pandas as pd

dists = {"name": ["中正區", "板橋區", "桃園區", "北屯區",
                  "安南區", "三民區", "大安區", "永和區",
                  "八德區", "前鎮區", "鳳山區",
                  "信義區", "新店區"],
         "population": [159598, 551452, 441287, 275207,
                        192327, 343203, 309835, 222531,
                        198473, 189623, 359125,
                        225561, 302070],
         "city": ["台北市", "新北市", "桃園市", "台中市",
                  "台南市", "高雄市", "台北市", "新北市",
                  "桃園市", "高雄市", "高雄市",
                  "台北市", "新北市"]}

df = pd.DataFrame(dists,
                  columns=["name", "population"],
                  index=dists["city"])
print(df)
df.to_html("ch8-2-1c.html")

    name  population
台北市  中正區      159598
新北市  板橋區      551452
桃園市  桃園區      441287
台中市  北屯區      275207
台南市  安南區      192327
高雄市  三民區      343203
台北市  大安區      309835
新北市  永和區      222531
桃園市  八德區      198473
高雄市  前鎮區      189623
高雄市  鳳山區      359125
台北市  信義區      225561
新北市  新店區      302070

In [54]:
# %load ch8-2-1d.py
import pandas as pd

dists = {"name": ["中正區", "板橋區", "桃園區", "北屯區",
                  "安南區", "三民區", "大安區", "永和區",
                  "八德區", "前鎮區", "鳳山區",
                  "信義區", "新店區"],
         "population": [159598, 551452, 441287, 275207,
                        192327, 343203, 309835, 222531,
                        198473, 189623, 359125,
                        225561, 302070],
         "city": ["台北市", "新北市", "桃園市", "台中市",
                  "台南市", "高雄市", "台北市", "新北市",
                  "桃園市", "高雄市", "高雄市",
                  "台北市", "新北市"]}

ordinals = ["first", "second", "third", "fourth", "fifth",
            "sixth", "seventh", "eigth", "ninth", "tenth",
            "eleventh", "twelvth", "thirteenth"]
df = pd.DataFrame(dists,
                  columns=["name", "population"],
                  index=dists["city"])
print(df.T)
df.T.to_html("ch8-2-1d.html")

               台北市     新北市     桃園市     台中市     台南市     高雄市     台北市     新北市  \
name           中正區     板橋區     桃園區     北屯區     安南區     三民區     大安區     永和區
population  159598  551452  441287  275207  192327  343203  309835  222531

               桃園市     高雄市     高雄市     台北市     新北市
name           八德區     前鎮區     鳳山區     信義區     新店區
population  198473  189623  359125  225561  302070

In [55]:
# %load ch8-2-2.py
import pandas as pd

dists = {"name": ["中正區", "板橋區", "桃園區", "北屯區",
                  "安南區", "三民區", "大安區", "永和區",
                  "八德區", "前鎮區", "鳳山區",
                  "信義區", "新店區"],
         "population": [159598, 551452, 441287, 275207,
                        192327, 343203, 309835, 222531,
                        198473, 189623, 359125,
                        225561, 302070],
         "city": ["台北市", "新北市", "桃園市", "台中市",
                  "台南市", "高雄市", "台北市", "新北市",
                  "桃園市", "高雄市", "高雄市",
                  "台北市", "新北市"]}
df = pd.DataFrame(dists)

df.to_csv("dists2.csv", index=False, encoding="utf8")
df.to_json("dists.json")

In [56]:
# %load ch8-2-2a.py
import pandas as pd

# 匯入CSV格式的檔案
df = pd.read_csv("dists2.csv", encoding="utf8")
print(df)
df.to_html("ch8-2-2a-01.html")
print("---------------------------")
# 匯入JSON格式的檔案
df2 = pd.read_json("dists.json")
print(df2)
df.to_html("ch8-2-2a-02.html")

   name  population city
0   中正區      159598  台北市
1   板橋區      551452  新北市
2   桃園區      441287  桃園市
3   北屯區      275207  台中市
4   安南區      192327  台南市
5   三民區      343203  高雄市
6   大安區      309835  台北市
7   永和區      222531  新北市
8   八德區      198473  桃園市
9   前鎮區      189623  高雄市
10  鳳山區      359125  高雄市
11  信義區      225561  台北市
12  新店區      302070  新北市
---------------------------
   name  population city
0   中正區      159598  台北市
1   板橋區      551452  新北市
2   桃園區      441287  桃園市
3   北屯區      275207  台中市
4   安南區      192327  台南市
5   三民區      343203  高雄市
6   大安區      309835  台北市
7   永和區      222531  新北市
8   八德區      198473  桃園市
9   前鎮區      189623  高雄市
10  鳳山區      359125  高雄市
11  信義區      225561  台北市
12  新店區      302070  新北市

In [57]:
# %load ch8-2-3.py
import pandas as pd

df = pd.read_csv("dists.csv", encoding="utf8")

print(df.head())
df.head().to_html("ch8-2-3-01.html")
print("---------------------------")
print(df.head(3))
df.head(3).to_html("ch8-2-3-02.html")

  name  population city
0  中正區      159598  台北市
1  板橋區      551452  新北市
2  桃園區      441287  桃園市
3  北屯區      275207  台中市
4  安南區      192327  台南市
---------------------------
  name  population city
0  中正區      159598  台北市
1  板橋區      551452  新北市
2  桃園區      441287  桃園市

In [58]:
# %load ch8-2-3a.py
import pandas as pd

df = pd.read_csv("dists.csv", encoding="utf8")

print(df.tail())
df.tail().to_html("ch8-2-3a-01.html")
print("---------------------------")
print(df.tail(3))
df.tail(3).to_html("ch8-2-3a-02.html")

   name  population city
8   八德區      198473  桃園市
9   前鎮區      189623  高雄市
10  鳳山區      359125  高雄市
11  信義區      225561  台北市
12  新店區      302070  新北市
---------------------------
   name  population city
10  鳳山區      359125  高雄市
11  信義區      225561  台北市
12  新店區      302070  新北市

In [59]:
# %load ch8-2-3b.py
import pandas as pd

df = pd.read_csv("dists.csv", encoding="utf8")

df.columns = ["區", "人口", "直轄市"]
print(df.head(4))
df.head(4).to_html("ch8-2-3b.html")

     區      人口  直轄市
0  中正區  159598  台北市
1  板橋區  551452  新北市
2  桃園區  441287  桃園市
3  北屯區  275207  台中市

In [60]:
# %load ch8-2-3c.py
import pandas as pd

df = pd.read_csv("dists.csv", encoding="utf8")

df.columns = ["區", "人口", "直轄市"]
print(df.index)
print("---------------------------")
print(df.columns)
print("---------------------------")
print(df.values)

RangeIndex(start=0, stop=13, step=1)
---------------------------
Index(['區', '人口', '直轄市'], dtype='object')
---------------------------
[['中正區' 159598 '台北市']
 ['板橋區' 551452 '新北市']
 ['桃園區' 441287 '桃園市']
 ['北屯區' 275207 '台中市']
 ['安南區' 192327 '台南市']
 ['三民區' 343203 '高雄市']
 ['大安區' 309835 '台北市']
 ['永和區' 222531 '新北市']
 ['八德區' 198473 '桃園市']
 ['前鎮區' 189623 '高雄市']
 ['鳳山區' 359125 '高雄市']
 ['信義區' 225561 '台北市']
 ['新店區' 302070 '新北市']]

In [61]:
# %load ch8-2-3d.py
import pandas as pd

df = pd.read_csv("dists.csv", encoding="utf8")

print("資料數= ", len(df))
print("---------------------------")
print("形狀= ", df.shape)
print("---------------------------")
df.info()

資料數=  13
---------------------------
形狀=  (13, 3)
---------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        13 non-null     object
 1   population  13 non-null     int64
 2   city        13 non-null     object
dtypes: int64(1), object(2)
memory usage: 440.0+ bytes

In [62]:
# %load ch8-2-4.py
import pandas as pd

df = pd.read_csv("dists.csv", encoding="utf8")

for index, row in df.iterrows():
  print(index, row["city"], row["name"], row["population"])

0 台北市 中正區 159598
1 新北市 板橋區 551452
2 桃園市 桃園區 441287
3 台中市 北屯區 275207
4 台南市 安南區 192327
5 高雄市 三民區 343203
6 台北市 大安區 309835
7 新北市 永和區 222531
8 桃園市 八德區 198473
9 高雄市 前鎮區 189623
10 高雄市 鳳山區 359125
11 台北市 信義區 225561
12 新北市 新店區 302070

In [63]:
# %load ch8-2-5.py
import pandas as pd

df = pd.read_csv("dists.csv", encoding="utf8")

df2 = df.set_index("city")
print(df2.head())
df2.head().to_html("ch8-2-5-01.html")
print("---------------------------")
df3 = df2.reset_index()
print(df3.head())
df3.head().to_html("ch8-2-5-02.html")

     name  population
city
台北市   中正區      159598
新北市   板橋區      551452
桃園市   桃園區      441287
台中市   北屯區      275207
台南市   安南區      192327
---------------------------
  city name  population
0  台北市  中正區      159598
1  新北市  板橋區      551452
2  桃園市  桃園區      441287
3  台中市  北屯區      275207
4  台南市  安南區      192327

In [64]:
# %load ch8-2-5a.py
import pandas as pd

df = pd.read_csv("dists.csv", encoding="utf8")

df2 = df.set_index(["city", "name"])
df2.sort_index(ascending=False, inplace=True)
print(df2)
df2.to_html("ch8-2-5a.html")

           population
city name
高雄市  鳳山區       359125
     前鎮區       189623
     三民區       343203
桃園市  桃園區       441287
     八德區       198473
新北市  永和區       222531
     板橋區       551452
     新店區       302070
台南市  安南區       192327
台北市  大安區       309835
     信義區       225561
     中正區       159598
台中市  北屯區       275207

In [65]:
# %load ch8-3-1.py
import pandas as pd

df = pd.read_csv("dists.csv", encoding="utf8")
ordinals = ["first", "second", "third", "fourth", "fifth",
            "sixth", "seventh", "eigth", "ninth", "tenth",
            "eleventh", "twelvth", "thirteenth"]
df.index = ordinals

print(df["population"].head(3))
print("---------------------------")
print(df[["city", "name"]].head(3))
df[["city", "name"]].head(3).to_html("ch8-3-1.html")
print("---------------------------")
print(df.population.head(3))   # 使用屬性方式

first     159598
second    551452
third     441287
Name: population, dtype: int64
---------------------------
       city name
first   台北市  中正區
second  新北市  板橋區
third   桃園市  桃園區
---------------------------
first     159598
second    551452
third     441287
Name: population, dtype: int64

In [66]:
# %load ch8-3-1a.py
import pandas as pd

df = pd.read_csv("dists.csv", encoding="utf8")
ordinals = ["first", "second", "third", "fourth", "fifth",
            "sixth", "seventh", "eigth", "ninth", "tenth",
            "eleventh", "twelvth", "thirteenth"]
df.index = ordinals

print(df[0:3])                # 不含 3
df[0:3].to_html("ch8-3-1a-01.html")
print("---------------------------")
print(df["sixth":"eleventh"])  # 含 "eleventh"
df["sixth":"eleventh"].to_html("ch8-3-1a-02.html")

       name  population city
first   中正區      159598  台北市
second  板橋區      551452  新北市
third   桃園區      441287  桃園市
---------------------------
         name  population city
sixth     三民區      343203  高雄市
seventh   大安區      309835  台北市
eigth     永和區      222531  新北市
ninth     八德區      198473  桃園市
tenth     前鎮區      189623  高雄市
eleventh  鳳山區      359125  高雄市

In [67]:
# %load ch8-3-1b.py
import pandas as pd

df = pd.read_csv("dists.csv", encoding="utf8")
ordinals = ["first", "second", "third", "fourth", "fifth",
            "sixth", "seventh", "eigth", "ninth", "tenth",
            "eleventh", "twelvth", "thirteenth"]
df.index = ordinals

print(df.loc[ordinals[1]])
print(type(df.loc[ordinals[1]]))
print("---------------------------")
print(df.loc[:, ["name", "population"]].head(3))
df.loc[:, ["name", "population"]].head(3).to_html("ch8-3-1b-01.html")
print("---------------------------")
print(df.loc["third":"fifth", ["name", "population"]])
print("---------------------------")
print(df.loc["third", ["name", "population"]])
df.loc["third":"fifth", ["name", "population"]].to_html("ch8-3-1b-02.html")
print("---------------------------")
# 取得單一純量值
print(df.loc[ordinals[0], "name"])
print(type(df.loc[ordinals[0], "name"]))
print("---------------------------")
print(df.loc["first", "population"])
print(type(df.loc["first", "population"]))

name             板橋區
population    551452
city             新北市
Name: second, dtype: object
<class 'pandas.core.series.Series'>
---------------------------
       name  population
first   中正區      159598
second  板橋區      551452
third   桃園區      441287
---------------------------
       name  population
third   桃園區      441287
fourth  北屯區      275207
fifth   安南區      192327
---------------------------
name             桃園區
population    441287
Name: third, dtype: object
---------------------------
中正區
<class 'str'>
---------------------------
159598
<class 'numpy.int64'>

In [68]:
# %load ch8-3-1c.py
import pandas as pd

df = pd.read_csv("dists.csv", encoding="utf8")
ordinals = ["first", "second", "third", "fourth", "fifth",
            "sixth", "seventh", "eigth", "ninth", "tenth",
            "eleventh", "twelvth", "thirteenth"]
df.index = ordinals

print(df.iloc[3])          # 第 4 筆
print("---------------------------")
print(df.iloc[3:5, 1:3])   # 切割
df.iloc[3:5, 1:3].to_html("ch8-3-1c-01.html")
print("---------------------------")
print(df.iloc[1:3, :])     # 切割列
df.iloc[1:3, :].to_html("ch8-3-1c-02.html")
print("---------------------------")
print(df.iloc[:, 1:3])     # 切割欄
df.iloc[:, 1:3].to_html("ch8-3-1c-03.html")
print("---------------------------")
print(df.iloc[[1, 2, 4], [0, 2]])   # 索引清單
df.iloc[[1, 2, 4], [0, 2]].to_html("ch8-3-1c-04.html")
print("---------------------------")
# 取得單一純量值
print(df.iloc[1, 1])
print(df.iat[1, 1])

name             北屯區
population    275207
city             台中市
Name: fourth, dtype: object
---------------------------
        population city
fourth      275207  台中市
fifth       192327  台南市
---------------------------
       name  population city
second  板橋區      551452  新北市
third   桃園區      441287  桃園市
---------------------------
            population city
first           159598  台北市
second          551452  新北市
third           441287  桃園市
fourth          275207  台中市
fifth           192327  台南市
sixth           343203  高雄市
seventh         309835  台北市
eigth           222531  新北市
ninth           198473  桃園市
tenth           189623  高雄市
eleventh        359125  高雄市
twelvth         225561  台北市
thirteenth      302070  新北市
---------------------------
       name city
second  板橋區  新北市
third   桃園區  桃園市
fifth   安南區  台南市
---------------------------
551452
551452

In [69]:
# %load ch8-3-2.py
import pandas as pd

df = pd.read_csv("dists.csv", encoding="utf8")
ordinals = ["first", "second", "third", "fourth", "fifth",
            "sixth", "seventh", "eigth", "ninth", "tenth",
            "eleventh", "twelvth", "thirteenth"]
df.index = ordinals

print(df[df.population > 350000])
df[df.population > 350000].to_html("ch8-3-2-01.html")
print("---------------------------")
print(df[df["city"].isin(["台北市", "高雄市"])])
df[df["city"].isin(["台北市", "高雄市"])].to_html("ch8-3-2-02.html")

         name  population city
second    板橋區      551452  新北市
third     桃園區      441287  桃園市
eleventh  鳳山區      359125  高雄市
---------------------------
         name  population city
first     中正區      159598  台北市
sixth     三民區      343203  高雄市
seventh   大安區      309835  台北市
tenth     前鎮區      189623  高雄市
eleventh  鳳山區      359125  高雄市
twelvth   信義區      225561  台北市

In [70]:
# %load ch8-3-2a.py
import pandas as pd

df = pd.read_csv("dists.csv", encoding="utf8")
ordinals = ["first", "second", "third", "fourth", "fifth",
            "sixth", "seventh", "eigth", "ninth", "tenth",
            "eleventh", "twelvth", "thirteenth"]
df.index = ordinals

print(df[(df.population > 350000) & (df.population < 500000)])
df[(df.population > 350000) & (df.population < 500000)].to_html("ch8-3-2a-01.html")
print("---------------------------")
print(df[df["city"].str.startswith("台")])
df[df["city"].str.startswith("台")].to_html("ch8-3-2a-02.html")

         name  population city
third     桃園區      441287  桃園市
eleventh  鳳山區      359125  高雄市
---------------------------
        name  population city
first    中正區      159598  台北市
fourth   北屯區      275207  台中市
fifth    安南區      192327  台南市
seventh  大安區      309835  台北市
twelvth  信義區      225561  台北市

In [71]:
# %load ch8-3-3.py
import pandas as pd

df = pd.read_csv("dists.csv", encoding="utf8")
ordinals = ["first", "second", "third", "fourth", "fifth",
            "sixth", "seventh", "eigth", "ninth", "tenth",
            "eleventh", "twelvth", "thirteenth"]
df.index = ordinals

df2 = df.set_index("population")
print(df2.head())
df2.head().to_html("ch8-3-3-01.html")
print("---------------------------")
df2.sort_index(ascending=False, inplace=True)
print(df2.head())
df2.head().to_html("ch8-3-3-02.html")

           name city
population
159598      中正區  台北市
551452      板橋區  新北市
441287      桃園區  桃園市
275207      北屯區  台中市
192327      安南區  台南市
---------------------------
           name city
population
551452      板橋區  新北市
441287      桃園區  桃園市
359125      鳳山區  高雄市
343203      三民區  高雄市
309835      大安區  台北市

In [72]:
# %load ch8-3-3a.py
import pandas as pd

df = pd.read_csv("dists.csv", encoding="utf8")
ordinals = ["first", "second", "third", "fourth", "fifth",
            "sixth", "seventh", "eigth", "ninth", "tenth",
            "eleventh", "twelvth", "thirteenth"]
df.index = ordinals

print(df.head())
df.head().to_html("ch8-3-3a-01.html")
print("---------------------------")
df2 = df.sort_values("population", ascending=False)
print(df2.head())
df2.head().to_html("ch8-3-3a-02.html")
print("---------------------------")
df.sort_values(["city", "population"], inplace=True)
print(df.head())
df.head().to_html("ch8-3-3a-03.html")

       name  population city
first   中正區      159598  台北市
second  板橋區      551452  新北市
third   桃園區      441287  桃園市
fourth  北屯區      275207  台中市
fifth   安南區      192327  台南市
---------------------------
         name  population city
second    板橋區      551452  新北市
third     桃園區      441287  桃園市
eleventh  鳳山區      359125  高雄市
sixth     三民區      343203  高雄市
seventh   大安區      309835  台北市
---------------------------
        name  population city
fourth   北屯區      275207  台中市
first    中正區      159598  台北市
twelvth  信義區      225561  台北市
seventh  大安區      309835  台北市
fifth    安南區      192327  台南市

In [73]:
# %load ch8-4-1.py
import pandas as pd

df = pd.read_csv("dists.csv", encoding="utf8")
ordinals = ["first", "second", "third", "fourth", "fifth",
            "sixth", "seventh", "eigth", "ninth", "tenth",
            "eleventh", "twelvth", "thirteenth"]
df.index = ordinals

print(df.head(2))
print("---------------------------")
# 取得與更新單一純量值
print(df.loc[ordinals[0], "population"])
df.loc[ordinals[0], "population"] = 160000
print(df.iloc[1, 1])
df.iloc[1, 1] = 560000
print(df.head(2))
df.head(2).to_html("ch8-4-1.html")

       name  population city
first   中正區      159598  台北市
second  板橋區      551452  新北市
---------------------------
159598
551452
       name  population city
first   中正區      160000  台北市
second  板橋區      560000  新北市

In [74]:
# %load ch8-4-1a.py
import pandas as pd

df = pd.read_csv("dists.csv", encoding="utf8")
ordinals = ["first", "second", "third", "fourth", "fifth",
            "sixth", "seventh", "eigth", "ninth", "tenth",
            "eleventh", "twelvth", "thirteenth"]
df.index = ordinals

print(df.head(3))
print("---------------------------")
# 取得與更新單筆記錄
print(df.loc[ordinals[1]])
print("---------------------------")
s = ["新莊區", 416640, "新北市"]
df.loc[ordinals[1]] = s
print(df.head(3))
df.head(3).to_html("ch8-4-1a.html")

       name  population city
first   中正區      159598  台北市
second  板橋區      551452  新北市
third   桃園區      441287  桃園市
---------------------------
name             板橋區
population    551452
city             新北市
Name: second, dtype: object
---------------------------
       name  population city
first   中正區      159598  台北市
second  新莊區      416640  新北市
third   桃園區      441287  桃園市

In [75]:
# %load ch8-4-1b.py
import pandas as pd
import numpy as np

df = pd.read_csv("dists.csv", encoding="utf8")
ordinals = ["first", "second", "third", "fourth", "fifth",
            "sixth", "seventh", "eigth", "ninth", "tenth",
            "eleventh", "twelvth", "thirteenth"]
df.index = ordinals

print(df)
print("---------------------------")
# 取得與更新整個欄位
print(df.loc[:, "population"])
print("---------------------------")
df.loc[:, "population"] = np.random.randint(34000, 700000, size=len(df))
print(df.head())
df.head().to_html("ch8-4-1b.html")

           name  population city
first       中正區      159598  台北市
second      板橋區      551452  新北市
third       桃園區      441287  桃園市
fourth      北屯區      275207  台中市
fifth       安南區      192327  台南市
sixth       三民區      343203  高雄市
seventh     大安區      309835  台北市
eigth       永和區      222531  新北市
ninth       八德區      198473  桃園市
tenth       前鎮區      189623  高雄市
eleventh    鳳山區      359125  高雄市
twelvth     信義區      225561  台北市
thirteenth  新店區      302070  新北市
---------------------------
first         159598
second        551452
third         441287
fourth        275207
fifth         192327
sixth         343203
seventh       309835
eigth         222531
ninth         198473
tenth         189623
eleventh      359125
twelvth       225561
thirteenth    302070
Name: population, dtype: int64
---------------------------
       name  population city
first   中正區      504007  台北市
second  板橋區      558749  新北市
third   桃園區      693285  桃園市
fourth  北屯區      339604  台中市
fifth   安南區       90610  台南市

C:\Users\aaronchh\AppData\Local\Temp\ipykernel_48808\2877611890.py:16: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, "population"] = np.random.randint(34000, 700000, size=len(df))

In [76]:
# %load ch8-4-1c.py
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(5, 1500, size=(2, 3)))
print(df)
df.to_html("ch8-4-1c-01.html")
print("---------------------------")
# 取得與更新整個DataFrame
print(df[df > 800])
df[df > 800].to_html("ch8-4-1c-02.html")
print("---------------------------")
df[df > 800] = df - 100
print(df)
df.to_html("ch8-4-1c-03.html")

      0    1    2
0  1071  150  203
1   770  959  231
---------------------------
        0      1   2
0  1071.0    NaN NaN
1     NaN  959.0 NaN
---------------------------
     0    1    2
0  971  150  203
1  770  859  231

In [77]:
# %load ch8-4-2.py
import pandas as pd

df = pd.read_csv("dists.csv", encoding="utf8")
ordinals = ["first", "second", "third", "fourth", "fifth",
            "sixth", "seventh", "eigth", "ninth", "tenth",
            "eleventh", "twelvth", "thirteenth"]
df.index = ordinals

print(df.head(3))
print("---------------------------")
# 刪除純量值
print(df.loc[ordinals[0], "population"])
df.loc[ordinals[0], "population"] = None
print(df.iloc[1, 1])
df.iloc[1, 1] = None
print(df.head(3))
df.head(3).to_html("ch8-4-2.html")

       name  population city
first   中正區      159598  台北市
second  板橋區      551452  新北市
third   桃園區      441287  桃園市
---------------------------
159598
551452.0
       name  population city
first   中正區         NaN  台北市
second  板橋區         NaN  新北市
third   桃園區    441287.0  桃園市

In [78]:
# %load ch8-4-2a.py
import pandas as pd

df = pd.read_csv("dists.csv", encoding="utf8")
ordinals = ["first", "second", "third", "fourth", "fifth",
            "sixth", "seventh", "eigth", "ninth", "tenth",
            "eleventh", "twelvth", "thirteenth"]
df.index = ordinals

print(df.head())
print("---------------------------")
# 刪除記錄
df2 = df.drop(["second", "fourth"])    # 2,4 筆
print(df2.head())
df2.head().to_html("ch8-4-2a-01.html")
print("---------------------------")
df.drop(df.index[[2, 3]], inplace=True)  # 3,4 筆
print(df.head())
df.head().to_html("ch8-4-2a-02.html")

       name  population city
first   中正區      159598  台北市
second  板橋區      551452  新北市
third   桃園區      441287  桃園市
fourth  北屯區      275207  台中市
fifth   安南區      192327  台南市
---------------------------
        name  population city
first    中正區      159598  台北市
third    桃園區      441287  桃園市
fifth    安南區      192327  台南市
sixth    三民區      343203  高雄市
seventh  大安區      309835  台北市
---------------------------
        name  population city
first    中正區      159598  台北市
second   板橋區      551452  新北市
fifth    安南區      192327  台南市
sixth    三民區      343203  高雄市
seventh  大安區      309835  台北市

In [79]:
# %load ch8-4-2b.py
import pandas as pd

df = pd.read_csv("dists.csv", encoding="utf8")
ordinals = ["first", "second", "third", "fourth", "fifth",
            "sixth", "seventh", "eigth", "ninth", "tenth",
            "eleventh", "twelvth", "thirteenth"]
df.index = ordinals

print(df.head(3))
print("---------------------------")
# 刪除欄位
df2 = df.drop(["population"], axis=1)
print(df2.head(3))
df2.head(3).to_html("ch8-4-2b.html")

       name  population city
first   中正區      159598  台北市
second  板橋區      551452  新北市
third   桃園區      441287  桃園市
---------------------------
       name city
first   中正區  台北市
second  板橋區  新北市
third   桃園區  桃園市

In [80]:
# %load ch8-4-3.py
import pandas as pd

df = pd.read_csv("dists.csv", encoding="utf8")
ordinals = ["first", "second", "third", "fourth", "fifth",
            "sixth", "seventh", "eigth", "ninth", "tenth",
            "eleventh", "twelvth", "thirteenth"]
df.index = ordinals

print(df.tail(3))
print("---------------------------")
# 新增記錄
df.loc["third-1"] = ["士林區", 288340, "台北市"]
print(df.tail(3))
df.tail(3).to_html("ch8-4-3-01.html")
print("---------------------------")
s = pd.Series({"city": "新北市", "name": "中和區", "population": 413291})
df2 = df.append(s, ignore_index=True)
print(df2.tail(3))
df2.tail(3).to_html("ch8-4-3-02.html")

           name  population city
eleventh    鳳山區      359125  高雄市
twelvth     信義區      225561  台北市
thirteenth  新店區      302070  新北市
---------------------------
           name  population city
twelvth     信義區      225561  台北市
thirteenth  新店區      302070  新北市
third-1     士林區      288340  台北市
---------------------------
   name  population city
12  新店區      302070  新北市
13  士林區      288340  台北市
14  中和區      413291  新北市

C:\Users\aaronchh\AppData\Local\Temp\ipykernel_48808\3999916450.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df.append(s, ignore_index=True)

In [81]:
# %load ch8-4-3a.py
import pandas as pd
from numpy.random import randint

df = pd.DataFrame(columns=("qty1", "qty2", "qty3"))
for i in range(5):
  df.loc[i] = [randint(-1, 1) for n in range(3)]
print(df)
df.to_html("ch8-4-3a-01.html")
print("---------------------------")
df2 = pd.DataFrame(columns=("qty1", "qty2", "qty3"))
for i in range(5):
  s = pd.Series(
    {"qty1": randint(-1, 1), "qty2": randint(-1, 1), "qty3": randint(-1, 1)})
  df2 = df2.append(s, ignore_index=True)
print(df2)
df.to_html("ch8-4-3a-02.html")

   qty1  qty2  qty3
0    -1    -1    -1
1    -1    -1     0
2    -1     0    -1
3    -1    -1     0
4    -1    -1    -1
---------------------------
  qty1 qty2 qty3
0    0    0   -1
1   -1   -1    0
2   -1   -1   -1
3   -1    0    0
4   -1    0   -1

C:\Users\aaronchh\AppData\Local\Temp\ipykernel_48808\1623605906.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(s, ignore_index=True)
C:\Users\aaronchh\AppData\Local\Temp\ipykernel_48808\1623605906.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(s, ignore_index=True)
C:\Users\aaronchh\AppData\Local\Temp\ipykernel_48808\1623605906.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(s, ignore_index=True)
C:\Users\aaronchh\AppData\Local\Temp\ipykernel_48808\1623605906.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(s, ignore_index=True)
C:\Users\aaronchh\AppData\Local\Temp\ipykernel_48808\1623605906.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(s, ignore_index=True)

In [82]:
# %load ch8-4-3b.py
import pandas as pd
from numpy.random import randint

df = pd.read_csv("dists.csv", encoding="utf8")
ordinals = ["first", "second", "third", "fourth", "fifth",
            "sixth", "seventh", "eigth", "ninth", "tenth",
            "eleventh", "twelvth", "thirteenth"]
df.index = ordinals

df["area"] = pd.Series([randint(6000, 9000) for n in range(len(df))]).values
print(df.head())
df.head().to_html("ch8-4-3b-01.html")
print("---------------------------")
df.loc[:, "zip"] = randint(100, 120, size=len(df))
print(df.head())
df.head().to_html("ch8-4-3b-02.html")

       name  population city  area
first   中正區      159598  台北市  6432
second  板橋區      551452  新北市  6177
third   桃園區      441287  桃園市  8549
fourth  北屯區      275207  台中市  8257
fifth   安南區      192327  台南市  7842
---------------------------
       name  population city  area  zip
first   中正區      159598  台北市  6432  106
second  板橋區      551452  新北市  6177  119
third   桃園區      441287  桃園市  8549  105
fourth  北屯區      275207  台中市  8257  115
fifth   安南區      192327  台南市  7842  104

In [83]:
# %load ch8-4-4.py
import pandas as pd
import numpy as np

df = pd.read_csv("dists.csv", encoding="utf8")
ordinals = ["first", "second", "third", "fourth", "fifth",
            "sixth", "seventh", "eigth", "ninth", "tenth",
            "eleventh", "twelvth", "thirteenth"]
df.index = ordinals

columns = ["city", "name", "population"]
# 建立空的DataFrame物件
df_empty = pd.DataFrame(np.nan, index=ordinals, columns=columns)
print(df_empty)
print("---------------------------")
# 複製DataFrame物件
df_copy = df.copy()
print(df_copy)

            city  name  population
first        NaN   NaN         NaN
second       NaN   NaN         NaN
third        NaN   NaN         NaN
fourth       NaN   NaN         NaN
fifth        NaN   NaN         NaN
sixth        NaN   NaN         NaN
seventh      NaN   NaN         NaN
eigth        NaN   NaN         NaN
ninth        NaN   NaN         NaN
tenth        NaN   NaN         NaN
eleventh     NaN   NaN         NaN
twelvth      NaN   NaN         NaN
thirteenth   NaN   NaN         NaN
---------------------------
           name  population city
first       中正區      159598  台北市
second      板橋區      551452  新北市
third       桃園區      441287  桃園市
fourth      北屯區      275207  台中市
fifth       安南區      192327  台南市
sixth       三民區      343203  高雄市
seventh     大安區      309835  台北市
eigth       永和區      222531  新北市
ninth       八德區      198473  桃園市
tenth       前鎮區      189623  高雄市
eleventh    鳳山區      359125  高雄市
twelvth     信義區      225561  台北市
thirteenth  新店區      302070  新北市

In [84]:
# %load ch8-4-4a.py
import pandas as pd
from numpy.random import randint

df1 = pd.DataFrame(randint(5, 10, size=(3, 4)), columns=["a", "b", "c", "d"])
df2 = pd.DataFrame(randint(5, 10, size=(2, 3)), columns=["b", "d", "a"])
print(df1)
df1.to_html("ch8-4-4a-01.html")
print("---------------------------")
print(df2)
df2.to_html("ch8-4-4a-02.html")
print("---------------------------")
df3 = pd.concat([df1, df2])
print(df3)
df3.to_html("ch8-4-4a-03.html")
print("---------------------------")
df4 = pd.concat([df1, df2], ignore_index=True)
print(df4)
df4.to_html("ch8-4-4a-04.html")

   a  b  c  d
0  8  5  7  6
1  5  9  7  7
2  7  7  8  7
---------------------------
   b  d  a
0  9  8  5
1  6  9  8
---------------------------
   a  b    c  d
0  8  5  7.0  6
1  5  9  7.0  7
2  7  7  8.0  7
0  5  9  NaN  8
1  8  6  NaN  9
---------------------------
   a  b    c  d
0  8  5  7.0  6
1  5  9  7.0  7
2  7  7  8.0  7
3  5  9  NaN  8
4  8  6  NaN  9

In [85]:
# %load ch8-4-4b.py
import pandas as pd

df1 = pd.DataFrame({"key": ["a", "b", "b"], "data1": range(3)})
df2 = pd.DataFrame({"key": ["a", "b", "c"], "data2": range(3)})
print(df1)
df1.to_html("ch8-4-4b-01.html")
print("---------------------------")
print(df2)
df2.to_html("ch8-4-4b-02.html")
print("---------------------------")
df3 = pd.merge(df1, df2)
print(df3)
df3.to_html("ch8-4-4b-03.html")
print("---------------------------")
df4 = pd.merge(df2, df1)
print(df4)
df4.to_html("ch8-4-4b-04.html")
print("---------------------------")
df5 = pd.merge(df2, df1, how='left')
print(df5)
df5.to_html("ch8-4-4b-05.html")

  key  data1
0   a      0
1   b      1
2   b      2
---------------------------
  key  data2
0   a      0
1   b      1
2   c      2
---------------------------
  key  data1  data2
0   a      0      0
1   b      1      1
2   b      2      1
---------------------------
  key  data2  data1
0   a      0      0
1   b      1      1
2   b      1      2
---------------------------
  key  data2  data1
0   a      0    0.0
1   b      1    1.0
2   b      1    2.0
3   c      2    NaN

In [86]:
# %load ch8-5-1.py
import pandas as pd
import numpy as np

df = pd.DataFrame({"名稱": ["客戶A", "客戶B", "客戶A", "客戶B",
                          "客戶A", "客戶B", "客戶A", "客戶A"],
                   "編號": ["訂單1", "訂單1", "訂單2", "訂單3",
                          "訂單2", "訂單2", "訂單1", "訂單3"],
                   "數量": np.random.randint(1, 5, size=8),
                   "售價": np.random.randint(150, 500, size=8)})

print(df)
df.to_html("ch8-5-1-01.html")
print("---------------------------")
print(df.groupby("名稱").sum())
df.groupby("名稱").sum().to_html("ch8-5-1-02.html")
print("---------------------------")
print(df.groupby(["名稱", "編號"]).sum())
df.groupby(["名稱", "編號"]).sum().to_html("ch8-5-1-03.html")

    名稱   編號  數量   售價
0  客戶A  訂單1   2  428
1  客戶B  訂單1   4  254
2  客戶A  訂單2   4  189
3  客戶B  訂單3   4  255
4  客戶A  訂單2   4  459
5  客戶B  訂單2   1  207
6  客戶A  訂單1   4  349
7  客戶A  訂單3   3  234
---------------------------
     數量    售價
名稱
客戶A  17  1659
客戶B   9   716
---------------------------
         數量   售價
名稱  編號
客戶A 訂單1   6  777
    訂單2   8  648
    訂單3   3  234
客戶B 訂單1   4  254
    訂單2   1  207
    訂單3   4  255

C:\Users\aaronchh\AppData\Local\Temp\ipykernel_48808\617667607.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(df.groupby("名稱").sum())
C:\Users\aaronchh\AppData\Local\Temp\ipykernel_48808\617667607.py:16: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby("名稱").sum().to_html("ch8-5-1-02.html")

In [87]:
# %load ch8-5-2.py
import pandas as pd

products = pd.DataFrame({
  "分類": ["居家", "居家", "娛樂", "娛樂", "科技", "科技"],
  "商店": ["家樂福", "頂好", "家樂福", "全聯", "頂好", "家樂福"],
  "價格": [11.42, 23.50, 19.99, 15.95, 55.75, 111.55],
  "測試分數": [4, 3, 5, 7, 5, 8]})
print(products)
products.to_html("ch8-5-2-01.html")
print("---------------------------")
# 呼叫 pivot_table() 方法
pivot_products = products.pivot_table(index='分類', columns='商店', values='價格')
print(pivot_products)
pivot_products.to_html("ch8-5-2-02.html")

   分類   商店      價格  測試分數
0  居家  家樂福   11.42     4
1  居家   頂好   23.50     3
2  娛樂  家樂福   19.99     5
3  娛樂   全聯   15.95     7
4  科技   頂好   55.75     5
5  科技  家樂福  111.55     8
---------------------------
商店     全聯     家樂福     頂好
分類
娛樂  15.95   19.99    NaN
居家    NaN   11.42  23.50
科技    NaN  111.55  55.75

In [88]:
# %load ch8-5-3.py
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.rand(6, 4), columns=list("ABCD"))
print(df)
df.to_html("ch8-5-3-01.html")
print("---------------------------")
df2 = df.apply(np.cumsum)
print(df2)
df2.to_html("ch8-5-3-02.html")
print("---------------------------")
df3 = df.apply(lambda x: x.max() - x.min())
print(df3)

          A         B         C         D
0  0.217092  0.456968  0.153398  0.429200
1  0.705898  0.049205  0.928330  0.671676
2  0.984591  0.959487  0.398876  0.872731
3  0.601178  0.503702  0.753262  0.463453
4  0.678540  0.370371  0.830286  0.853418
5  0.934457  0.887797  0.288792  0.129348
---------------------------
          A         B         C         D
0  0.217092  0.456968  0.153398  0.429200
1  0.922990  0.506173  1.081728  1.100876
2  1.907581  1.465660  1.480604  1.973607
3  2.508759  1.969362  2.233866  2.437060
4  3.187299  2.339733  3.064152  3.290478
5  4.121756  3.227530  3.352944  3.419825
---------------------------
A    0.767499
B    0.910282
C    0.774931
D    0.743384
dtype: float64